In [35]:
#https://austintexas.gov/docklessmobility

import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from sqlalchemy import create_engine

In [2]:
import pymysql
pymysql.install_as_MySQLdb()

In [3]:
csv_file= "Dockless_Vehicle_Trips.csv"
dockless_data_df = pd.read_csv(csv_file)
dockless_data_df.head()

,ID,Device ID,Vehicle Type,Trip Duration,Trip Distance,Start Time,End Time,Modified Date,Month,Hour,Day of Week,Council District (Start),Council District (End),Origin Cell ID,Destination Cell ID,Year,Start Latitude,Start Longitude,End Latitude,End Longitude
0,000000cb-78a9-4b95-8ead-37c797abcf37,ad14e63b-940d-4ca3-84c6-0131147fba45,scooter,358.0,915.0,6/29/2018 17:30,6/29/2018 17:30,12/12/2018 21:36,6.0,17.0,5.0,5,9,13445,13916,2018.0,30.263,-97.762,30.259,-97.754
1,00001b5f-46aa-4b26-a12f-d7b4d3c69834,c5a230c9-7e80-4464-862f-f2b23f61d6d3,scooter,226.0,839.0,11/30/2018 11:00,11/30/2018 11:00,12/13/2018 15:43,11.0,11.0,5.0,9,9,14556,15186,2018.0,30.283,-97.745,30.284,-97.737
2,00002334-2f2b-41a0-9a04-8ff66be39f40,5a9f7815-bf0c-4fef-8bac-60efd4f23b10,scooter,324.0,1206.0,10/2/2018 15:15,10/2/2018 15:30,12/13/2018 15:49,10.0,15.0,2.0,9,9,15344,15032,2018.0,30.285,-97.734,30.291,-97.738
3,0000261e-c0f0-4fb1-9947-1606dfe4ddcf,41fa0cf0-f433-4b3a-89f5-2c6cec6c367d,scooter,1096.0,0.0,9/2/2018 16:45,9/2/2018 17:00,12/13/2018 15:53,9.0,16.0,0.0,9,9,14707,14081,2018.0,30.268,-97.743,30.276,-97.752
4,00002c70-678b-4c09-a32c-da0266e329c6,ddd4bbc3-114e-4cbc-b078-860e3c28b11b,scooter,408.0,1144.0,9/28/2018 11:45,9/28/2018 11:45,12/12/2018 22:24,9.0,11.0,5.0,3,3,16114,15642,2018.0,30.242,-97.721,30.244,-97.729

In [4]:
new_dockless_data_df = dockless_data_df.rename(columns={'Trip Duration':'Trip_in_seconds', 
                                                        'Trip Distance':'Trip_in_meters'})



new_dockless_data_df.head()

,ID,Device ID,Vehicle Type,Trip_in_seconds,Trip_in_meters,Start Time,End Time,Modified Date,Month,Hour,Day of Week,Council District (Start),Council District (End),Origin Cell ID,Destination Cell ID,Year,Start Latitude,Start Longitude,End Latitude,End Longitude
0,000000cb-78a9-4b95-8ead-37c797abcf37,ad14e63b-940d-4ca3-84c6-0131147fba45,scooter,358.0,915.0,6/29/2018 17:30,6/29/2018 17:30,12/12/2018 21:36,6.0,17.0,5.0,5,9,13445,13916,2018.0,30.263,-97.762,30.259,-97.754
1,00001b5f-46aa-4b26-a12f-d7b4d3c69834,c5a230c9-7e80-4464-862f-f2b23f61d6d3,scooter,226.0,839.0,11/30/2018 11:00,11/30/2018 11:00,12/13/2018 15:43,11.0,11.0,5.0,9,9,14556,15186,2018.0,30.283,-97.745,30.284,-97.737
2,00002334-2f2b-41a0-9a04-8ff66be39f40,5a9f7815-bf0c-4fef-8bac-60efd4f23b10,scooter,324.0,1206.0,10/2/2018 15:15,10/2/2018 15:30,12/13/2018 15:49,10.0,15.0,2.0,9,9,15344,15032,2018.0,30.285,-97.734,30.291,-97.738
3,0000261e-c0f0-4fb1-9947-1606dfe4ddcf,41fa0cf0-f433-4b3a-89f5-2c6cec6c367d,scooter,1096.0,0.0,9/2/2018 16:45,9/2/2018 17:00,12/13/2018 15:53,9.0,16.0,0.0,9,9,14707,14081,2018.0,30.268,-97.743,30.276,-97.752
4,00002c70-678b-4c09-a32c-da0266e329c6,ddd4bbc3-114e-4cbc-b078-860e3c28b11b,scooter,408.0,1144.0,9/28/2018 11:45,9/28/2018 11:45,12/12/2018 22:24,9.0,11.0,5.0,3,3,16114,15642,2018.0,30.242,-97.721,30.244,-97.729

In [5]:

new_dockless_df = new_dockless_data_df[["ID", "Vehicle Type", "Trip_in_seconds", "Trip_in_meters", "Start Time" ]].copy()

new_dockless_df.head()

,ID,Vehicle Type,Trip_in_seconds,Trip_in_meters,Start Time
0,000000cb-78a9-4b95-8ead-37c797abcf37,scooter,358.0,915.0,6/29/2018 17:30
1,00001b5f-46aa-4b26-a12f-d7b4d3c69834,scooter,226.0,839.0,11/30/2018 11:00
2,00002334-2f2b-41a0-9a04-8ff66be39f40,scooter,324.0,1206.0,10/2/2018 15:15
3,0000261e-c0f0-4fb1-9947-1606dfe4ddcf,scooter,1096.0,0.0,9/2/2018 16:45
4,00002c70-678b-4c09-a32c-da0266e329c6,scooter,408.0,1144.0,9/28/2018 11:45

In [12]:
new_dockless_data_d["Start Time"][:2].values

array(['6/29/2018 17:30', '11/30/2018 11:00'], dtype=object)

In [50]:
new_dockless_data_df = new_dockless_data_df.dropna(subset=["Start Time"])

In [53]:
def round_nearest_hour(input_time):
    try:
        time = datetime.strptime(input_time, "%m/%d/%Y %H:%M")
        time = time + timedelta(minutes=30)
        month = time.month
        year = time.year
        day = time.day
        hour = time.hour
        minute = 0
        return datetime(year, month, day, hour, minute)
    except:
        print("Error: ", input_time)
round_nearest_hour('6/29/2018 23:20')

datetime.datetime(2018, 6, 29, 23, 0)

In [54]:
new_dockless_data_df["Start Time (rounded)"] = new_dockless_data_df["Start Time"].apply(round_nearest_hour)
new_dockless_data_df.head()

,ID,Device ID,Vehicle Type,Trip_in_seconds,Trip_in_meters,Start Time,End Time,Modified Date,Month,Hour,...,Council District (Start),Council District (End),Origin Cell ID,Destination Cell ID,Year,Start Latitude,Start Longitude,End Latitude,End Longitude,Start Time (rounded)
0,000000cb-78a9-4b95-8ead-37c797abcf37,ad14e63b-940d-4ca3-84c6-0131147fba45,scooter,358.0,915.0,6/29/2018 17:30,6/29/2018 17:30,12/12/2018 21:36,6.0,17.0,...,5,9,13445,13916,2018.0,30.263,-97.762,30.259,-97.754,2018-06-29 18:00:00
1,00001b5f-46aa-4b26-a12f-d7b4d3c69834,c5a230c9-7e80-4464-862f-f2b23f61d6d3,scooter,226.0,839.0,11/30/2018 11:00,11/30/2018 11:00,12/13/2018 15:43,11.0,11.0,...,9,9,14556,15186,2018.0,30.283,-97.745,30.284,-97.737,2018-11-30 11:00:00
2,00002334-2f2b-41a0-9a04-8ff66be39f40,5a9f7815-bf0c-4fef-8bac-60efd4f23b10,scooter,324.0,1206.0,10/2/2018 15:15,10/2/2018 15:30,12/13/2018 15:49,10.0,15.0,...,9,9,15344,15032,2018.0,30.285,-97.734,30.291,-97.738,2018-10-02 15:00:00
3,0000261e-c0f0-4fb1-9947-1606dfe4ddcf,41fa0cf0-f433-4b3a-89f5-2c6cec6c367d,scooter,1096.0,0.0,9/2/2018 16:45,9/2/2018 17:00,12/13/2018 15:53,9.0,16.0,...,9,9,14707,14081,2018.0,30.268,-97.743,30.276,-97.752,2018-09-02 17:00:00
4,00002c70-678b-4c09-a32c-da0266e329c6,ddd4bbc3-114e-4cbc-b078-860e3c28b11b,scooter,408.0,1144.0,9/28/2018 11:45,9/28/2018 11:45,12/12/2018 22:24,9.0,11.0,...,3,3,16114,15642,2018.0,30.242,-97.721,30.244,-97.729,2018-09-28 12:00:00

In [55]:
new_dockless_df = new_dockless_data_df[["ID", "Vehicle Type", "Trip_in_seconds", "Trip_in_meters", "Start Time (rounded)" ]].copy()

#new_dockless_df.head()
new_dockless_df

,ID,Vehicle Type,Trip_in_seconds,Trip_in_meters,Start Time (rounded)
0,000000cb-78a9-4b95-8ead-37c797abcf37,scooter,358.0,915.0,2018-06-29 18:00:00
1,00001b5f-46aa-4b26-a12f-d7b4d3c69834,scooter,226.0,839.0,2018-11-30 11:00:00
2,00002334-2f2b-41a0-9a04-8ff66be39f40,scooter,324.0,1206.0,2018-10-02 15:00:00
3,0000261e-c0f0-4fb1-9947-1606dfe4ddcf,scooter,1096.0,0.0,2018-09-02 17:00:00
4,00002c70-678b-4c09-a32c-da0266e329c6,scooter,408.0,1144.0,2018-09-28 12:00:00
5,00002f2a-0bcd-4446-bb39-df9fd62be813,scooter,1094.0,2631.0,2018-07-22 17:00:00
6,00003324-85b7-45d0-ada2-31a5db5560fe,scooter,705.0,1248.0,2018-10-28 10:00:00
7,00003584-6e34-4ccc-9968-b1ae3f47b1d7,scooter,143.0,702.0,2018-10-08 18:00:00
8,0000485a-1622-4fed-8fbd-f255552a882e,scooter,215.0,180.0,2018-06-16 22:00:00
9,00004fe9-fdb2-4b55-ab44-789beba2d1d9,scooter,197.0,530.0,2018-10-25 11:00:00
10,00005c8d-b73e-4eb8-82ae-fe56e5fbaac7,scooter,346.0,890.0,2018-07-13 18:00:00
11,00005eeb-d762-4818-b9c0-b3cc07ddf04e,scooter,427.0,1815.0,2018-04-18 18:00:00
12,0000604c-70af-4615-8703-5afeb19f63ff,scooter,24.0,3.0,2018-12-04 03:00:00
13,0000651c-9754-419b-a023-8c793169ec98,scooter,2924.0,4816.0,2018-10-22 16:00:00
14,000067a5-153d-4c19-82be-f3379e885acd,scooter,396.0,893.0,2018-04-20 13:00:00
15,00006ca8-64c4-4f79-93dc-a0ceed169469,scooter,493.0,1100.0,2018-11-05 17:00:00
16,00007a9d-06c9-4912-8eb2-ee9f07b4ad66,scooter,81.0,0.0,2018-11-29 11:00:00
17,00007d83-533d-4225-8ccc-1aad1af02e04,scooter,620.0,3543.0,2018-08-13 00:00:00
18,0000861f-2ea2-4c04-b189-6c0b746796ee,scooter,576.0,2710.0,2018-11-17 16:00:00
19,00008e61-58b9-4d5f-8c0b-9c545386b3bd,scooter,1008.0,0.0,2018-10-17 18:00:00
20,000091b4-76fa-4f18-8c2c-0918aaa9bdaf,scooter,102.0,126.0,2018-07-02 16:00:00
21,00009448-5c4e-4b71-9099-20857ed527c9,scooter,4246.0,10778.0,2018-09-13 08:00:00
22,00009710-37fb-4d57-b352-cc8aa07613e6,scooter,103.0,49.0,2018-11-24 13:00:00
23,00009736-2331-46fc-9e91-24f84dbb157f,scooter,175.0,500.0,2018-10-25 18:00:00
24,0000a45f-49bd-4d54-a0e8-4595311ba38a,scooter,745.0,456.0,2018-06-24 16:00:00
25,0000b866-6b0f-4dfe-b102-4d316dd33156,scooter,1620.0,1791.0,2018-08-26 15:00:00
26,0000bfa3-5a8b-4a09-a7ae-1247a190f1e7,scooter,175.0,289.0,2018-10-10 12:00:00
27,0000cde8-099d-4cd0-a4b5-a0560d7271d8,scooter,106.0,207.0,2018-12-01 15:00:00
28,0000ced0-47cf-4fe8-a42d-3e516618cabb,bicycle,60.0,52.0,2018-10-23 13:00:00
29,0000d646-1620-48ad-b2c6-1b3e9e72c338,scooter,202.0,415.0,2018-09-24 17:00:00
...,...,...,...,...,...
1048545,849146f9-d302-42cd-878c-6135f0614afc,scooter,176.0,61.0,2018-10-06 14:00:00
1048546,84914a0c-ecac-45df-a576-446f4eb0e15a,scooter,1912.0,8400.0,2018-10-13 17:00:00
1048547,84915055-f273-4bf5-b2d0-d07488888ab4,scooter,1319.0,892.0,2018-09-15 15:00:00
1048548,84915271-8d0a-4709-8bb6-be1c9cc99b7e,scooter,174.0,555.0,2018-06-25 20:00:00
1048549,84915ad5-c57e-450a-abb4-a07527ecfa48,scooter,101.0,0.0,2018-09-10 16:00:00
1048550,84916539-4133-4de9-9dba-2d66d98714fd,scooter,159.0,619.0,2018-10-08 12:00:00
1048551,84916635-0a0d-43b2-b9f3-3afc53966b2c,scooter,136.0,491.0,2018-09-19 13:00:00
1048552,84916ea8-6547-44be-915f-37ed87f6c1ce,scooter,335.0,835.0,2018-09-18 12:00:00
1048553,849172d9-7963-45af-a723-70292f8e4042,scooter,159.0,540.0,2018-11-27 15:00:00
1048554,849177ac-b54c-4ceb-aece-b3590e8c29ab,scooter,100.0,0.0,2018-07-07 15:00:00
1048555,849183d5-e8b1-4048-806a-d43fa760ce26,scooter,3141.0,5900.0,2018-09-30 15:00:00
1048556,84919160-911a-4754-9206-59977ec26c85,scooter,133.0,530.0,2018-09-04 10:00:00
1048557,84919533-14cb-4899-a567-201e36c35b9a,scooter,329.0,1675.0,2018-11-18 12:00:00
1048558,849195cd-fb84-4a7d-9448-909c1150301b,scooter,364.0,1116.0,2018-10-18 10:00:00
1048559,84919905-40b7-43d1-9a43-6237cbc94a20,scooter,358.0,788.0,2018-09-06 16:00:00
1048560,84919c9e-5e25-44e5-b196-d249b5b86649,scooter,92.0,5.0,2018-12-03 02:00:00
1048561,8491a049-675e-4590-b578-70ae6a7470ab,scooter,375.0,1493.0,2018-04-26 11:00:00
1048562,8491a567-a0d5-4688-b9f2-7f75773bc057,scooter,310.0,1304.0,2018-11-27 19:00:00
1048563,8491a77a-eade-4088-bd80-2503c7d42837,scooter,382.0,227.0,2018-04-25 08:00:00
1048564,8491abfe-887c-49ab-b5a2-eeb8d72ab469,scooter,23.0,57.0,2018-09-15 18:00:00
1048565,8491bc44-3231-474f-a09a-150bbb72b30d,scooter,334.0,926.0,2018-08-25 09:00:00
1048566,8491c3af-7c56-43e8-aaf9-46405e26415d,scooter,1066.0,3800.0,2018-10-26 21:00:00
1048567,8491c6e8-a633-4504-96e2-8ec99f36d635,scooter,526.0,1442.0,2018-09-08 19:00:00
1048568,8491cea1-1f2d-443d-b979-a1196bff9a52,scooter,372.0,0.0,2018-09-14 20:00:00
1048569,8491d302-f336-455b-b9c5-5bb080e53389,scooter,116.0,387.0,2018-11-03 17:00:00
1048570,8491d43a-0164-478a-918e-31850bb375b3,scooter,271.0,885.0,2018-10-18 09:00:00
1048571,8491d8b5-238d-424b-9f0c-d003fb715bf6,scooter,2632.0,4536.0,2018-11-02 13:00:00
1048572,8491e3c3-7ddf-486d-9f7c-bde7e16a5c76,scooter,112.0,218.0,2018-07-11 19:00:00
1048573,8491e66e-39ff-4f25-9167-46094e6e2526,scooter,227.0,1054.0,2018-08-22 12:00:00
1048574,8491eed3-d7a6-46c1-aa9f-997b2c48c671,scooter,312.0,661.0,2018-11-02 12:00:00

In [56]:
#import pymongo

In [57]:
#conn = 'mongodb://localhost:27017'
#client = pymongo.MongoClient(conn)

In [ ]:
#db = client.dockless_vehicle_db
#collection = db.dockless